/*Начало*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}

body {
    font: 13px/1.38 OpenSans, tahoma, sans-serif;
}


/*Конец*/

.header {
    background: linear-gradient(#ffb507, #efe083);
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    flex-flow: row nowrap;
}

.header-list img {
    width: 270px;
    height: 90px;
    object-fit: contain;
}

.header__description {
    font-size: 16px;
    color: #030303;
    line-height: 22px;
    margin: 22px 22px 0 22px;
}

.basket {
    padding: 20px 10px 26px 44px;
    background: url(../images/cart.png) no-repeat 0 50%;
    display: block;
    color: #dd0404;
}

.fs18 {
    font-size: 18px;
}

.info-block {
    text-align: right;
}

.net-icons li {
    float: right;
    margin-left: 6px;
}

.net-icons li a {
    height: 24px;
    width: 24px;
    display: block;
    background: url(../images/instagram.png) no-repeat 0 0;
    margin: 10px 0;
}

.net-icons li a.facebook {
    background: url(../images/facebook.png) no-repeat 0 0;
}

.net-icons li a.linkedin {
    background: url(../images/linkedin.png) no-repeat 0 0;
}

.tel {
    display: block;
    color: #030303;
    font-size: 16px;
    clear: right;
}

.registration li {
    float: right;
    margin-left: 6px;
}

.registration li:first-child {
    border-left: 1px solid rgba(61, 58, 211, 0.671);
    padding-left: 6px;
}

.registration li a {
    color: rgba(61, 58, 211, 0.671);
    text-decoration: underline;
    font-size: 14px;
}


/*NAVIGATION BEGIN*/

.nav {
    background: linear-gradient(#030303, #0303037e);
}

nav>ul>li {
    float: left;
    position: relative;
}

nav>ul>li>a {
    color: #999;
    text-transform: uppercase;
    padding: 16px 10px;
    display: block;
    transition: color .5s, background 1s;
}

nav>ul>li>a:hover {
    color: #fff;
    background: #0303037a;
}

li>ul {
    display: none;
    position: absolute;
    top: 50px;
}

nav>ul>li:hover ul {
    display: block;
    background: #030303;
}

li>ul>li {
    border-top: 1px solid #999;
    width: 140px;
}

li>ul>li>a {
    display: block;
    align-items: left;
    color: #999;
    padding: 6px;
    font-size: 12px;
}

li>ul>li>a:hover {
    color: #fff;
}


/*NAVIGATION END*/


/*Clearfix*/

.header:after,
nav::after {
    content: "";
    display: table;
    clear: both;
}