    body {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.33vmax;
        margin: 0 auto;
        background-image: linear-gradient(to right bottom, #f9f9e5, #cfcfb6, #a7a788, #80805d, #5b5b35);
    }
    
    .header__wrap {
        width: 81.66vw;
        margin: 0 auto;
        position: relative;
    }
    
    .header {
        background: linear-gradient(#ffb507, #efe083);
        color: black;
    }
    
    .grey {
        background-color: #838d8f;
        color: #fff;
    }
    
    .header__top {
        width: 100%;
        height: 9.16vmax;
    }
    
    .header__wrap {
        height: inherit;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .header__main {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .header__button {
        border-radius: 0.33vw;
        padding: 0.66vw 1.32vw;
        overflow: hidden;
        width: fit-content;
        font-size: inherit;
        cursor: pointer;
    }
    
    #sign {
        border: 1px solid #A52A2A;
        color: #A52A2A;
        font-size: 1.1vmax;
        font-weight: bold;
    }
    
    #sign svg {
        width: 1.2vmax;
        height: 1.2vmax;
        fill: #A52A2A;
        margin-right: 1.83vmax;
    }
    
    #sign:hover {
        background-color: #A52A2A;
        color: #ffb507;
        border-color: #A52A2A;
        transition: all 200ms linear;
    }
    
    #sign:hover svg {
        fill: #ffb507;
        transition: all 200ms linear;
    }
    
    .header__name {
        margin-left: 1.8vmax;
        color: #A52A2A;
    }
    
    .header__telefon {
        margin-left: 1.8vmax;
        color: #2ca13a;
    }
    
    .header__logo,
    .header__logo a {
        display: block;
        width: 21.33vmax;
    }
    
    .header__logo img {
        width: inherit;
        height: inherit;
    }
    
    #cart {
        border: 1px solid #2ca13a;
        color: #2ca13a;
        font-size: 1.1vmax;
        font-weight: bold;
        margin-left: 1.8vmax;
    }
    
    #cart svg {
        width: 1.25vmax;
        height: 1.16vmax;
        margin-right: 1.5vmax;
        fill: #2ca13a;
    }
    
    #cart:hover {
        background-color: #2ca13a;
        color: #ffb507;
        border-color: #2ca13a;
        transition: all 200ms linear;
    }
    
    #cart:hover svg {
        fill: #ffb507;
        transition: all 200ms linear;
    }
    
    .header__menu {
        background-color: #fff;
        width: 100%;
        height: 4.16vmax;
    }
    
    nav li {
        list-style: none;
    }
    
    nav a {
        text-decoration: none;
        font-size: 1vmax;
    }
    
    .header__nav,
    .header__nav li,
    .header__nav a {
        display: flex;
        flex-flow: row nowrap;
        height: inherit;
        align-items: center;
        justify-content: center;
    }
    
    .header__nav a {
        padding: 0 1.5vmax;
        color: #3c3d41;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    li>ul {
        display: none;
        position: absolute;
        top: 39px;
        font-size: 1vmax;
        padding: 0;
        border-radius: 4px;
    }
    
    li>ul>li {
        border-top: 1px solid #999;
        border-radius: 4px;
        font-weight: normal;
        padding: 4px 4px;
        z-index: 200;
    }
    
    li>ul>li>a {
        display: block;
        color: #999;
        font-size: 12px;
    }
    
    nav>li:hover ul {
        display: block;
        background: #efe083;
        transition: all 200ms linear;
    }
    
    .header__nav a:hover {
        background: #efe083;
        color: #A52A2A;
        box-sizing: content-box;
        transition: all 200ms linear;
        border-radius: 4px;
    }
    
    .header__search svg {
        width: 1.5vmax;
        height: 1.5vmax;
    }
    
    .header__search {
        position: absolute;
        cursor: pointer;
        right: 0;
    }
    /* .banner {
        background: #fff;
        padding-bottom: 10px;
    }
    
    #bannerSlider {
        min-width: 1322px;
        margin: 0 auto;
    } */
    
    .banner-wrap {
        max-height: 700px;
        overflow: hidden;
    }
    
    .banner img {
        width: 100%;
    }
    
    .cart-box {
        position: fixed;
        height: 450px;
        right: 0px;
        top: 0;
        z-index: 100;
        background-color: #fff;
        width: 30vw;
        box-shadow: 5px -2px 20px 2px black;
        border-radius: 2px;
        transform: translateX(100%);
        box-sizing: border-box;
    }
    
    .cart-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }
    
    .cart-box.open {
        transform: translateX(0);
    }
    
    .cart-title {
        display: flex;
        height: 60px;
        flex-grow: 1;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #2fa33ce1;
        width: 100%;
        padding-left: 12px;
        color: #fff;
        fill: #fff;
        cursor: pointer;
    }
    
    #next {
        padding-right: 20px;
        width: 20px;
        height: 20px;
    }
    
    .cart-content {
        height: 340px;
        flex-grow: 4;
    }
    
    #order {
        width: 100%;
        height: 50px;
        flex-grow: 1;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        background-color: #ff6000;
    }
    
    #order:hover {
        background-color: #ff6200b4;
    }
    
    .search-panel {
        position: absolute;
        z-index: 5;
        height: auto;
        background-color: #fff;
        padding: 1vmax;
        top: 0;
        left: 0;
        width: 94%;
        display: none;
    }
    
    .search-panel.open {
        display: block;
    }
    
    .search-panel input {
        width: 100%;
        border: 1px solid rgba(207, 205, 203, 0.712);
        height: 1.9vmax;
        border-radius: 2px;
        padding-left: 6px;
    }
    
    .regButton {
        background: #A52A2A;
        border: 1px solid #A52A2A;
        border-radius: 3px;
        padding: 6px 24px;
        cursor: pointer;
        color: #ffb507;
    }
    
    .regButton:hover {
        background: #ccc;
        color: #A52A2A;
    }
    
    #window {
        width: 260px;
        height: 200px;
        margin: 40px auto;
        background: #efe083;
        border: 1px solid #fff;
        border-radius: 15px;
        z-index: 150;
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 0;
    }
    
    .form {
        margin: -30px 20px;
        text-align: center;
    }
    
    .input {
        padding: 5px;
        margin-bottom: 10px;
    }
    
    .close {
        margin: 10px 0 0 230px;
        cursor: pointer;
        border: 1px solid rgba(204, 204, 204, 0.178);
        padding: 2px;
        background: rgba(204, 204, 204, 0.178);
    }
    
    .close:hover {
        background: #fff;
    }
    
    #gray {
        opacity: 0.8;
        padding: 15px;
        background-color: rgba(1, 1, 1, 0.75);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        z-index: 100;
        overflow: auto;
    }
    
    .contact {
        width: 81.66vw;
        margin: 0 auto;
        margin-top: 60px;
        display: flow-root;
    }
    
    .contact h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 24px;
        color: #3c3d41;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .contact .googlemap iframe {
        height: 400px;
        border: none;
        box-sizing: border-box;
    }
    
    .contact-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .contact-info h2 {}
    
    .contact-left {
        width: 45%
    }
    
    .contact-left p {
        font-size: 14px;
        line-height: 20px;
        color: #f1eff0;
        margin-top: 22px;
    }
    
    .contact-left p a {
        text-decoration: none;
        color: #deee04;
    }
    
    .contact-right {
        width: 45%
    }
    
    .contact-right form textarea {
        padding: 6px 12px;
        border: 1px solid #f1f1f1;
        border-radius: 3px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-style: italic;
        color: #000;
        height: 140px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #beb9b9;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    .input-flex {
        display: flex;
        flex-direction: column;
    }
    
    .input-flex input {
        width: 220px;
        border: 1px solid #beb9b9;
        border-radius: 3px;
        margin-top: 4px;
        padding: 6px 12px;
        font-style: italic;
    }
    
    form #input-btn {
        width: 90px;
        height: 40px;
        background: #febf10c0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        color: #A52A2A;
        border: none;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
        transition: .2s;
    }