body {
    background-color: #dddddd4d;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 81.66vw;
    margin: 0 auto;
    position: relative;
    padding-top: 4.16vmax;
    padding-bottom: 6.66vmax;
    font-family: 'Roboto Condensed', sans-serif;
}

.main__left_bar {
    width: 19.16vmax;
}

.main__right_bar {
    width: 55.83vmax;
}

.list-product {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*background-color: #dddddd;*/
    flex-flow: wrap;
}

.box {
    border-radius: 0.33vw;
    background-color: #fff;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    text-decoration: none;
    /*padding: 1.33vmax 1.33vw;*/
    height: 19vmax;
    width: 15.6vw;
    margin-bottom: 1.33vmax;
    margin-right: 1.33vmax;
    position: relative;
}

.product-stiker {
    color: #fff;
    padding: 0.3vmax;
    font-size: 0.5vmax;
    text-transform: uppercase;
    right: 1vmax;
    position: absolute;
    z-index: 1;
    top: 1vmax;
    letter-spacing: 0.1vmax;
}

#hit {
    background-color: #A52A2A;
}

#new {
    background-color: #2ca13a;
}

.product-img {
    width: 100%;
    height: 13.33vmax;
    overflow: hidden;
}

.product-img img {
    height: 100%;
    width: auto;
}

#load-more {
    border: none;
    width: 100%;
    border-radius: 0.33vw;
    box-shadow: 0 4px 2px 0px #ffcc336b;
    color: #ffb507;
    background-color: #dddddd;
    font-size: 1.25vmax;
    font-weight: bold;
    padding-top: 1.66vmax;
    padding-bottom: 1.66vmax;
    margin-top: 1.66vmax;
}

#load-more:hover {
    transform: scale(0.95)
}

.product h2 {
    font-size: 1.5vmax;
    line-height: 1.5vmax;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0.8vmax;
    font-weight: bold;
}

.product p:first-of-type {
    font-style: italic;
    font-size: 1.15vmax;
    color: #A52A2A;
    text-align: center;
    margin: 0.8vmax;
}

.price {
    margin: 0.83vmax;
}

.product:hover {
    transform: scale(1.05);
}

.category__list {
    width: 100%;
}

.title-list,
.title-filter {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 4.16vmax;
    padding: 0 1.66vmax;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.title-list svg {
    width: 12px;
    fill: #ccc;
}

.title-list.open svg {
    fill: #A52A2A;
    transform: rotate(90deg);
}

.title-list p,
{
    font-size: 1.2vmax;
    letter-spacing: 0.2vmax;
    text-transform: uppercase;
    font-weight: bold;
}

.list-link {
    background-color: #ffcc33;
    padding: 0;
    height: 0;
    overflow: hidden;
}

.list-link.open {
    height: auto;
    overflow: auto;
    padding: 1.66vmax;
    padding-bottom: 0;
}

.list-link a {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 1.15vmax;
    padding-bottom: 1.33vmax;
    letter-spacing: 0.1vmax;
}

.list-link li {
    margin-bottom: 1.25vmax;
}

.list-link li:hover a {
    color: #A52A2A;
}

.title-filter {
    margin-top: 1.83vmax;
}

.list-filter {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin-right: 0.66vw;
    margin-bottom: 1.2vmax;
    margin-top: 0.3vmax;
    padding: 1vmax;
}

.list-filter li {
    padding: 0.3vmax;
}

.list-filter label {
    border-radius: 1vmax;
    width: 12vmax;
    height: 2.5vmax;
    padding-left: 0.3vmax;
    cursor: pointer;
}

.list-filter input [type=checkbox]:checked+label {
    box-shadow: 0 0 5px 5px #A52A2A;
}

.price-box {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}